{{ 'section-main-page.css' | asset_url | stylesheet_tag }}

{% comment %}
   <div class="page-width page-width--narrow section-{{ section.id }}-padding">
    <h1 class="main-page-title page-title">
      {{ page.title | escape }}
    </h1>
    <div class="rte{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {{ page.content }}
    </div>
  </div>
{% endcomment %}

{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "section",
  "settings": []
}
{% endschema %}
