:root {
	font-family: var(--text);
	background-color: var(--pistachio);
	color: var(--moss);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  background: rgb(var(--color-foreground));
}

body {
	font-size: var(--base);
  line-height: calc(var(--scale) / 2);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: rgb(var(--color-foreground));
  background: rgb(var(--color-foreground));
}

main[role="main"] {
  background: rgb(var(--color-background));
  min-height: 66vh;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--display);
  font-weight: normal;
  line-height: 1;
  margin-top: 0;
  margin-bottom: calc(var(--base) * var(--scale) * 1);
}

h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, h6 strong {
  font-family: var(--text);
}

p {
	/* line-height: var(--scale); */
  margin-top: 0;
  margin-bottom: var(--base);
}

a {
	color: currentColor;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p > a {
  text-decoration: underline;
}

input,
button {
	font-size: inherit;
	color: inherit;
	font-family: inherit;
	text-transform: inherit;
  background: transparent;
  border: none;
	padding: var(--base) calc(var(--base) * var(--scale));

  border-radius: var(--gap);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(14px);
}

button {
	cursor: pointer;
  font-weight: bold;
  padding: calc(var(--base) / var(--scale)) var(--base);
}

button:focus,
button:hover {
  
}

button:focus:not(:focus-visible),
input:focus {
	outline: none;
}

img,
video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.list--unstyled {
  list-style: none;
  padding: 0;
}

.hidden {
  display: none;
}

.visually-hidden {
  position: absolute;
  left: -5000px;
  height: 0;
}