.button,
button {
  cursor: pointer;
  display: flex;
  padding: calc(var(--base)) calc(var(--base) * var(--scale));
  justify-content: center;
  align-items: center;
  gap: calc(var(--base) / var(--scale) * 1.5);
  flex-shrink: 0;

  font-weight: bold;
  /* text-transform: uppercase; */

  border-radius: 55px;
  background: rgba(var(--color-button), 0.10);
  backdrop-filter: blur(12px);
  border: 1px solid transparent;
}

  .button:hover,
  button:hover {
    text-decoration: none;
    color: rgb(var(--color-background));
    background: rgba(var(--color-foreground), 0.9);
  }

@media screen and (max-width: 749px) {
  .button,
  button {
    padding: calc(var(--base)) calc(var(--base) * var(--scale));
  }
}

  .button--primary {
    color: rgb(var(--color-background));
    background-color: rgb(var(--color-foreground));
  }

  .button.button--primary:hover,
  button.button--primary:hover {
    /* color: rgb(var(--color-foreground)); */
    background: rgba(var(--color-foreground), 0.75);
  }

  .button--underline {
    color: currentColor !important;
    background: transparent !important;
    border-bottom: 1px solid;
    font-weight: bold;
    border-radius: 0;
    padding: calc(var(--base)) calc(var(--base));
  }

  .button--full_width {
    width: 100%;
  }