form {
  margin-bottom: calc(var(--base) * var(--scale));
}

input:focus {
  color: var(--black);
	background: var(--white);
}

input:focus + label {
  color: var(--black);
}

input:focus ~ button {
  background: var(--black);
}

input:focus ~ button:hover {
  background: var(--dark-grey);
}

.field {
  display: inline-block;
  position: relative;
  max-width: 350px;
  width: 100%;
}

.field input {
  max-width: 350px;
  width: 100%;
}

.field input:not(:placeholder-shown) + label {
  display: none;
  /* top: 0;
  font-size: 0.8em; */
}

.field label,
.field button {
  position: absolute;
  top: 50%;
  left: calc(var(--base) * var(--scale));
  transform: translateY(-50%);
}

.field button {
  left: auto;
  right: calc(var(--base));
}