form {
  margin-bottom: calc(var(--base) * var(--scale));
}

input:focus {
  color: var(--black);
	background: var(--white);
}

input:focus + label {
  color: var(--black);
}

input:focus ~ button {
  background: var(--black);
}

input:focus ~ button:hover {
  background: var(--dark-grey);
}

.field {
  display: inline-block;
  position: relative;
  /* max-width: 350px; */
  width: 100%;
}

@media screen and (max-width: 749px) {
  .field {
    font-size: 0.88em;
  }
}

.field input {
  /* max-width: 350px; */
  width: 100%;
}

.field input:not(:placeholder-shown) + label {
  display: none;
  /* top: 0;
  font-size: 0.8em; */
}

.field label,
.field button {
  position: absolute;
  top: 50%;
  left: calc(var(--base) * var(--scale));
  transform: translateY(-50%);
}

.field button {
  padding: calc(var(--base) / 2) var(--base);
}

.field button {
  left: auto;
  right: calc(var(--base) / 2);
}

fieldset {
  display: inline-block;
  border: none;
}

input[type='radio'] {
  appearance: none;
  -webkit-appearance: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;

  display: inline-block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  padding: 0;
  border: 1px solid;
}

input[type='radio'] + label {
  cursor: pointer;
  margin-right: calc(var(--gap) / 2);
  align-self: center;
}

input[type='radio'] + label:hover {
  border-color: rgb(var(--color-foreground));
}

input[type='radio']:checked,
input[type='radio']:hover,
input[type='radio']:focus {
  background-color: rgb(var(--color-foreground));
}

input[type='radio'].input--color {
  position: relative;
  width: 2em;
  height: 2em;
  border-radius: 0.666em;
  border-color: transparent;
  /* background-repeat: no-repeat;
  background-position: -100%; */
}

input[type='radio'].input--color:after {
  /* content: attr(data-value); */
  /* position: absolute;
  left: 1em;
  top: 1em; */
}

input[type='radio'].input--color:hover,
input[type='radio'].input--color:focus {
  border-color: rgb(var(--color-foreground));
}

input[type='radio'].input--color + label {
  display: none;
}

input[type='radio'].input--color:checked {
  border-color: rgb(var(--color-foreground));
  /* background-position: 0.66em calc(100% - 0.66em); */
}


input[type='radio']:not(.disabled) + label > .visually-hidden {
  display: none;
}