.h0 {
  font-size: calc(var(--base) * var(--scale) * 5);
}

h1,
.h1 {
	font-size: calc(var(--base) * var(--scale) * 3);
  line-height: 1;

  @media (max-width: 888px) {
    font-size: calc(var(--base) * var(--scale) * 1);
  }
}

h2,
.h2 {
	font-size: calc(var(--base) * var(--scale) * 2);
  line-height: 1;

  @media (max-width: 888px) {
    font-size: calc(var(--base) * var(--scale) * 1.5);
  }
}

h3,
.h3 {
  font-size: calc(var(--base) * var(--scale) * 1.25);

  @media (max-width: 888px) {
    font-size: calc(var(--base) * var(--scale) * 1);
  }
}

h4,
.h4 {
  font-size: calc(var(--base) * var(--scale));
}

h5,
.h5 {
  font-size: calc(var(--base) * var(--scale));
}

h6,
.h6 {
  font-size: calc(var(--base));
  /* font-family: var(--alt); */
  /* text-transform: uppercase; */
}

.subtitle {
  font-size: calc(var(--base) * var(--scale) * 0.75);

  @media (max-width: 888px) {
    font-size: calc(var(--base));
  }
}

.medium {
  font-size: calc(var(--base) * var(--scale));
  line-height: 1.2;

  @media (max-width: 888px) {
    font-size: calc(var(--base));
  }
}

.large {
  font-size: calc(var(--base) * var(--scale) * 2);
  line-height: 1.2;

  @media (max-width: 888px) {
    font-size: calc(var(--base) * var(--scale));
  }
}