.header,
.announcement-bar {
  position: fixed;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: rgb(var(--color-foreground));
  background: linear-gradient(rgba(var(--color-background), 0.666), rgba(var(--color-background), 0)); */
  transition: color 333ms, background 333ms;
  padding: calc(var(--gap) / var(--scale));
}

.announcement-bar {
  justify-content: center;
  padding: calc(var(--base) / var(--scale));
}

  .header nav {
    flex: 1;
    display: flex;
  }

  .header nav a {
    padding: calc(var(--gap) / 2);
  }

  .header nav:last-child {
    justify-content: flex-end;
  }