.header,
.announcement-bar {
  position: sticky;
  z-index: 40;
  top: 0;
  left: 0;
  width: 100vw;

  display: flex;
  justify-content: space-between;
  align-items: center;
  /* color: rgb(var(--color-foreground));
  background: linear-gradient(rgba(var(--color-background), 0.666), rgba(var(--color-background), 0)); */
  transition: color 333ms, background 333ms;
  padding: calc(var(--gap) / var(--scale) / 1.5) calc(var(--gap) / var(--scale));
  font-size: 0.88em;
}

.header:not([style]) {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  background: rgba(var(--color-background), 0.66) !important;
}

.header[data-header] {
  position: fixed;
}

.announcement-bar {
  justify-content: center;
  padding: calc(var(--base) / var(--scale));
}

  .header__logo svg {
    height: 62px;
  }

  .header nav {
    flex: 1;
    display: flex;
  }

  .header > nav a.button {
    margin-right: calc(var(--gap) / 2);
    padding: calc(var(--gap) / 3) calc(var(--gap) / 1.5);
  }

  .header > nav a:not(.button) {
    font-weight: bold;
    text-transform: uppercase;
    padding: calc(var(--gap) / 2);
  }

  .header a[aria-current] {
    text-decoration: underline;
  }

  .header nav:last-child {
    justify-content: flex-end;
  }

@media screen and (max-width: 749px) {
.header,
.announcement-bar {
  padding: calc(var(--gap) / var(--scale) / 2);
}


  .header > nav:first-of-type {
    display: none;
  }

  .header__logo svg {
    width: 108px;
    height: 46px;
  }

  .header nav a.button {
    padding: calc(var(--base) / 1.5) var(--base);
    font-size: 0.88em;
  }
}

@media screen and (min-width: 749px) {
  .header details {
    display: none;
  }
}

.header details {
  
}

.header details summary {
  margin-right: calc(var(--base) / 1.5);
}

.header details summary svg:nth-child(2) {
  display: none;
}
.header details[open] summary svg:nth-child(1) {
  display: none;
}
.header details[open] summary svg:nth-child(2) {
  display: inline-block;
}

.header details summary::-webkit-details-marker,
.header details summary::marker {
  display: none;
  content: "";
}

.header details[open] {
  color: var(--white);
}

.header details[open] ~ *,
.header details[open] summary {
  color: var(--white);
  position: relative;
  z-index: 30;
}

@keyframes toggleIn {
  0% {
    /* opacity: 0; */
    transform: translateX(-100%);
  }
  100% {
    /* opacity: 1; */
    transform: translateX(0px);
  }
}

.header details nav {
  position: fixed;
  Z-index: 20;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  color: var(--white);
  background: var(--black);

  padding: calc(var(--gap) * 4) var(--gap) var(--gap);
  flex-direction: column;
  justify-content: space-around !important;
}

.header details[open] nav {
  animation: toggleIn 333ms;
}
  
  .header details nav section {
    display: flex;
    /* gap: calc(var(--base) / 4); */
    flex-direction: column;
  }

  .header details nav section a {
    padding: calc(var(--gap) / 4) !important;
  }

  .header details nav section.h2 {
    font-family: var(--display);
  }