.multirow {
  position: relative;
  padding: calc(var(--gap) * 3) calc(var(--gap) * 4) calc(var(--gap) * 5);
  margin: 0 auto;
  max-width: calc(950px + (var(--gap) * 10));
}

@media screen and (max-width: 750px) {
  .multirow {
    padding: calc(var(--gap) * 1);
  }
}

  .multirow--alternate-right .image-with-text,
  .multirow--alternate-left .image-with-text {
    border-radius: var(--base);
    overflow: hidden;
    margin-bottom: var(--gap);
  }

@media screen and (min-width: 750px) {
.multirow .float-right .image-with-text__media-item {
  position: static;
}

.multirow .float-right .image-with-text__text-item {
  cursor: pointer;
}

.multirow .float-right:hover .image-with-text__text-item,
.multirow .float-right.float--active .image-with-text__text-item {
  text-decoration: underline;
}

.multirow .float-right .image-with-text__media {
  position: absolute;
  z-index: 0;
  top: 50%;
  left: 45%;
  min-height: auto;
  width: 20vw;
  height: 25vw;

  opacity: 0.1;
  transition: opacity 666ms;
  transform: translate(50%, -50%);
}

.multirow .float-right .image-with-text__media.image-with-text__media--medium {
  height: 50vh;
}

.multirow .float-right .image-with-text__media.image-with-text__media--large {
  height: 50vw;
}

.multirow .float-right:hover .image-with-text__media,
.multirow .float-right.float--active .image-with-text__media {
  z-index: 1;
  opacity: 1;
}

.multirow .float-right:nth-child(1) .image-with-text__media {
  transform: translate(50%, -60%);
}

.multirow .float-right:nth-child(2) .image-with-text__media {
  transform: translate(25%, -80%);
}

.multirow .float-right:nth-child(3) .image-with-text__media {
  transform: translate(75%, -30%);
}

.multirow .float-right:nth-child(4) .image-with-text__media {
  transform: translate(40%, -10%);
}
}

@media screen and (max-width: 750px) {
  .image-with-text {
    margin-bottom: var(--gap);
  }
  
  .multirow .float-right .image-with-text__text-item {
    order: -1;
  }

  .multirow .float-right .image-with-text__content {
    padding-left: 0;
  }
}

.multirow .float-right .image-with-text__media img {
  border-radius: var(--base);
}