.builder {
  background-color: var(--light-grey);
  padding: var(--gap);
}

.builder__info,
.builder__media {
  background-color: var(--white);
  /* margin: var(--gap); */
  padding: var(--gap);
  border-radius: 0.666rem;
  align-self: flex-start;
}

.builder__info__forms {
  display: flex;
  row-gap: calc(var(--gap) / 2);
  flex-wrap: wrap;
}

.builder__info__forms > input[type='radio'] {
  display: none;
}

.builder__info__forms > div {
  width: 100%;
  order: 99;
}

  .builder__info__forms > input[type='radio']:checked + label {
    color: rgb(var(--color-background));
    background-color: rgb(var(--color-foreground));
  }

  .builder__info__forms > input[type='radio']:not(:checked) + label + div {
    display: none;
  }

  .builder__info__forms details {
    width: 100%;
  }

.builder__form {
  margin: 0 0 var(--gap);
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--gap) / 4);
}

.builder__form p {
  width: 100%;
}

.builder__form input[type='radio'] + label + fieldset {
  display: none;
}

.builder__form input[type='radio']:checked + label + fieldset {
  display: block;
  order: 99;
}

.builder__media {
  height: 88vh;
  padding: 0;
  overflow: hidden; 

  position: sticky;
  position: -webkit-sticky;
  top: calc(var(--gap) * 1);
}

